body{
    background: linear-gradient(to bottom right, #984D38 -10%, #181E41 40%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

.navbardroite ul{
    display: flex;
    gap: 20px;
    align-items: center;
   
}

.hireme{
    padding: 10px 20px;
    border : 1px solid white;
}

.cercle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.navbargauche{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100px;
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    right: 0;
}

.section2{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.card{
 padding: 20px 0;
    border-radius: 10px;
}

.section3gauchep{
    color: gray;
}

.kpis{
    display: flex;
    gap: 20px;
    
}

.kpis div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item{
    display: flex;
    gap: 10px;
}

.section3droite{
    display: flex;
}

.section3{
    display: flex;
    padding-top: 3rem;
}

.section3 img{
    width:50px;
    height: 50px;
}

.item{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 10px;
}

.item h1{
    font-size: 20px;
}

.section3gauche{
    width: 40%;
}
.item:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

.white{
    background-color: white;
    color: black;
}

.section3droite{
    width: 40%;
    flex-direction: column;
    gap: 10px;
   
}

.section3{
    justify-content: space-around;
}

@media (max-width: 450px) {
    .section3{
        flex-direction: column;
        padding: 2rem;
    }

    .section3gauche{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .section3droite{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        font-size:7px;
    }
    .section3droite img{
        width: 20px;
        height: 20px;
    }
   
}